@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Code+Pro&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Source Code Pro", monospace;
}

